header {
    display: flex; 
    justify-content: center;
}

.small-logo {
    width: 200px;
}

.about-container {
    display: flex; 
    justify-content: center;
    padding: var(--distanceNavMain);
}

.fade {
    position: relative; 

}

.fade div {
    position: absolute; 
    top: 0;
}

.fade img {
    border-radius: var(--distanceMiddle);
    height: 400px;
    width: 650px;
}

p {
    background: url(../images/aboutClouds.jpg)  no-repeat center fixed;
    border-radius: var(--distanceMiddle);
    color: var(--primaryColor);
    display: none; 
    font-family: 'aileronRegular';
    height: 650px;
    padding: var(--distanceSmallest);
    text-align: center;
    width: 650px;
}

@media screen and (max-width:768px) {
    .about-container {
        margin-top: 130px;
    }
}
