header {
    display: flex; 
    justify-content: center;
}

.small-logo {
    width: 200px;
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 64px;
}

.me-container {
    display: flex; 
    flex-direction: column;
}

.me-container p {
    background: url(../images/IMG_6420.jpg)  no-repeat center fixed;
    color: #fff;
    display: none; 
    font-family: 'aileronRegular';
    height: 300px;
    margin: 0;
    width: 300px;
}


.me-image,
.work-image {
    width: 300px;
    height: 450px;
}

.work-container {
    display: flex;
    flex-direction: column;
}

.work-container p {
    background: url(../images/IMG_6420.jpg)  no-repeat center fixed;
    color: #fff;
    display: none; 
    font-family: 'aileronRegular';
    height: 300px;
    margin: 0; 
    width: 300px;
}

