header {
    display: flex; 
    justify-content: center;
}

.small-logo {
    width: 200px;
}

.contact-container {
    display: flex; 
    justify-content: center;
    padding: 64px;
}

.contact-form {
    border-radius: 30px;
    background: url(../images/IMG_6420.jpg) no-repeat center fixed;
    padding: 24px; 
}

.side-image img {
    border-radius: 30px;
    width: 380px;
    height: 551px;
    min-width: 100%;
    min-height: 100%;
}

.wrapper p {
    color: var(--textColor);
    text-align: center;
    font-family: 'aileronRegular';
}

form, input, textarea, button {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.icon-images {
    align-items: center;
    display: flex;
    gap: 46px;
    justify-content: center;
}

.icon-images img {
    height: 50px;
    width: 50px;
}