:root {
    --primaryColor: #fff;
    --distanceNavMain: 64px;
    --distanceSmallest:8px;
    --distanceMiddle: 30px; 
}

html {
    height: 100vh;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../images/background-2.jpg) no-repeat center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0; 
}

main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 56px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; 
    padding: 16px;
}

li, a {
    color: var(--primaryColor);
    font-family: 'aileronBold';
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}

.menu > li {
    position: relative;
}

.active-page {
    color: var(--primaryColor);
    text-decoration: underline;
  }

h1 {
    font-size: 1em; 
}

.submenu {
    display: none; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    padding: var(--distanceSmallest);
    position: absolute; 
    width: 120px;
}

footer {
    border-top: solid 1px var(--primaryColor); 
    color: var(--primaryColor);
    font-family: 'aileronLight';
    font-size: 0.6em; 
    padding: 16px; 
}

@media screen and (max-width:768px) {
    html {
        height: 174vh;
        width: 100vh; 
    }
}
