:root {
    --textColor: #fff;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../images/background-2.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0; 
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu {
    align-items: center;
    display: flex;
    gap: 56px;
    padding: 16px;
    margin: 0; 
    justify-content: center;
}

li, a {
    color: var(--textColor);
    font-family: 'aileronBold';
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
}

.menu > li {
    position: relative;
}

.active-page {
    color: var(--textColor);
    text-decoration: underline;
  }

h1 {
    font-size: 1em; 
}

.submenu {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    padding: 8px;
    width: 100%;
}

footer {
    border-top: solid 1px var(--textColor); 
    color: var(--textColor);
    font-family: 'aileronLight';
    font-size: 0.6em; 
    padding: 16px; 
}

