html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../images/background-2.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu {
    align-items: center;
    display: flex;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

li, a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
}

.active-page {
    color: #ffffff;
    text-decoration: underline;
  }

h1 {
    font-size: 1em; 
}

.submenu {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    top: 34px;
    width: 100%;
}


