header {
    display: flex; 
    justify-content: center;
}

.small-logo {
    width: 200px;
}

.photo-slider img {
    border-radius: var(--distanceMiddle);
    height: 450px;
    width: 650px;
}

.photo-slider {
    padding-bottom: var(--distanceMiddle);
}

.text-container {
    border: 1px solid #fff;
    border-radius: var(--distanceMiddle); 
    display: flex; 
    justify-content: center;
    padding: var(--distanceSmallest);
    margin: var(--distanceNavMain); 
}

span {
    color: #fff;
    font-family: 'aileronLight';
    text-align: center;

}

@media screen and (max-width:768px) {

    .photo-slider img {
        height: 350px; 
        width: 550px;
    }

}