header {
    display: flex; 
    justify-content: center;
}

.small-logo {
    width: 200px;
}

.projects-container {
    align-items: center;
    display: flex; 
    flex-direction: column;
}

p {
    color: var(--primaryColor); 
    font-family: 'aileronBold';
    font-size: 3em;
}

.text-container {
    border-radius: var(--distanceMiddle); 
    border: 1px solid var(--primaryColor);
    display: flex; 
    justify-content: center;
    margin: var(--distanceNavMain); 
    padding: var(--distanceSmallest);
}

span {
    color: var(--primaryColor);
    font-family: 'aileronLight';
    text-align: center;

}