header {
    display: flex; 
    justify-content: center;
}

.small-logo {
    width: 200px;
}

.projects-container {
    align-items: center;
    display: flex; 
    flex-direction: column;
}

p {
    color: #fff; 
    font-family: 'aileronBold';
    font-size: 3em;
}

.text-container {
    border: 1px solid #fff;
    border-radius: var(--distanceMiddle); 
    display: flex; 
    justify-content: center;
    padding: var(--distanceSmallest);
    margin: var(--distanceNavMain); 
}

span {
    color: #fff;
    font-family: 'aileronLight';
    text-align: center;

}